@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Raleway";
  font-weight: 100 900;
  font-display: block;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("/fonts/Raleway-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway";
  font-weight: 100 900;
  font-display: block;
  font-style: italic;
  font-named-instance: "Italic";
  src: url("/fonts/Raleway-Italic-VariableFont_wght.ttf") format("truetype");
}

#__next {
  min-height: 100%;
}

@layer base {
  body {
    @apply bg-fuchsia-50 text-fuchsia-950 dark:bg-fuchsia-950 dark:text-fuchsia-50;
  }
  .wrapper {
    @apply container mx-auto sm:px-6 lg:px-8;
  }
  .responsive-grid {
    @apply grid grid-cols-1 gap-16 md:grid-cols-2 xl:grid-cols-3;
  }
}
