@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Raleway";
  font-weight: 100 900;
  font-display: block;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("/fonts/Raleway-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Raleway Italic";
  font-weight: 100 900;
  font-display: block;
  font-style: italic;
  font-named-instance: "Italic";
  src: url("/fonts/Raleway-Italic-VariableFont_wght.ttf") format("truetype");
}

@layer base {
  html, body {
    @apply bg-white dark:bg-black;
  }
}       


#__next {
  min-height: 100%;
}